<h3>New Shipping Company</h3>


<%= csrf_meta_tags %>

<%= render 'form', shipping_company: @shipping_company %>
<br><br><br>
<div align=center><%= button_to '    Back    ', shipping_companies_path, method: :get, style: "background: gold" %></div>
